$track-w: 20em;
$track-h: .25em;
$thumb-d: 1em;
$track-c: #555;
$progr-c: #f9c50b;
$dist: $track-w - $thumb-d;

@mixin track() {
	box-sizing: border-box;
	border: none;
	width: $track-w;
    height: $track-h;
	background: $track-c;
    background-image: linear-gradient(90deg, $progr-c, $progr-c);
    background-size: calc(var(--time-slider__output,0) * 1%);
    background-repeat: no-repeat;
}

@mixin thumb() {
	box-sizing: border-box;
	border: none;
	width: $thumb-d;
    height: $thumb-d;
	border-radius: 50%;
	background: $progr-c;

    outline: 1px solid $progr-c;
    outline-offset: calc(var(--out, 0) * .25em);
    transition: outline-offset .25s linear;
}


[type='range'] {
	&, &::-webkit-slider-thumb {
		-webkit-appearance: none
	}

    flex: 1;
	margin: 0;
	padding: 0;
	min-height: $thumb-d;
	background: transparent;
	font: inherit;

	&::-webkit-slider-runnable-track {
		@include track()
	}
	&::-moz-range-track { @include track }
	&::-ms-track { @include track }

    &::-webkit-slider-thumb {
		margin-top: .5*($track-h - $thumb-d);
		@include thumb
	}
	&::-moz-range-thumb { @include thumb }
	&::-ms-thumb {
		margin-top: 0;
		@include thumb
	}

	&::-ms-tooltip { display: none }

    &:hover,
    &:focus-within{
        --out: 1;
    }
}